body {
    background-color: #f8f9fa;
}
#sidebar {
    min-height: 100vh;
}
#sidebar .nav-link:hover {
    background-color: #495057;
}
#content {
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
}
